Repository nuxt/image, pull requests merged in 2022-06, with the labels that each got.

#509 docs: add example for default modifiers
  docs/content/en/3.api/1.options.md
Labels: documentation

#511 feat(cloudinary): add types for options and modifiers
  src/types/module.ts
Labels: enhancement, provider

#523 feat: cloudimage provider
  docs/content/en/4.providers/cloudimage.md
  playground/nuxt.config.ts
  playground/providers.ts
  src/provider.ts
  src/runtime/providers/cloudimage.ts
  src/types/module.ts
  test/providers.ts
  test/unit/providers.test.ts
Labels: provider

#497 feat(storyblok): update to the new service
  docs/content/en/4.providers/storyblok.md
  playground/nuxt.config.ts
  src/runtime/providers/storyblok.ts
Labels: provider

#501 feat: layer0 provider
  docs/content/en/4.providers/layer0.md
  playground/nuxt.config.ts
  playground/pages/provider/_provider.vue
  playground/providers.ts
  src/provider.ts
  src/runtime/providers/layer0.ts
  src/types/module.ts
Labels: provider

#477 feat: support placeholder
  playground/pages/nuxt-img.vue
  src/runtime/components/nuxt-img.vue
Labels: enhancement
